.wheel-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px;
  
    .inputs {
      margin-top: 20px;
  
      input {
        padding: 10px;
        margin-right: 10px;
        font-size: 16px;
      }
  
      button {
        padding: 10px;
        font-size: 16px;
      }
    }
  
    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #1a1a1a;
      color: white;
      border: 1px solid #1a1a1a;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      border: 1px solid #007bff;
    }
  
    .wheel {
      position: relative;

      .spin-button {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -60%);
        z-index: 10;
        width: 100%;
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border: none;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      .spin-button.hidden {
        opacity: 0;
      }
    }
  }
  
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8%;
    min-width: 150px;
    min-height: 100px;
    padding-top: 10px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #1a1a1a;
      color: white;
      border: 1px solid #1a1a1a;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }